<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

    <form action='/' method="POST">
      <label>Rotate By: </label>
      <input type="text" id="rot" name="rot" value="0">
      <textarea id="text" name="text">{{newS}}</textarea>
      <input type="submit" name="Submit" value="Submit Query">
    </form>
	  
    <script src="main.py"></script>
  </body>
</html>